<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
    <body>
        <p>My passions are learning, thinking, and writing; I am currently teaching myself more about coding and computers so that I can obtain a position helping companies develop and deploy their software and databases. Such a position will combine my interest in computers, my penchant for critical thinking, and my creativity.</p>
        <p>What originally interested me in coding was a teenager's ambition to write his own computer games. When I discovered that computers don't do what you want them to do, but only what you tell them to do, I turned to writing as a more fluid medium to express and create.</p> 
        <p>I pursued writing through literature in college (Reed College -- the Classics -- Latin and Greek) into Plato's ethereal kingdom of ideas in graduate school. After 5 years at UCSB, I decided the academic world was not for me; I became interested in Chinese and moved to China to learn on the ground. In China I learned a lot about learning languages, taught English, literature, writing, and history, and got a teaching degree along the way. </p>
        <p>I knew I couldn't stay in China forever, and in the long term I wanted to pursue a thread I'd picked up in graduate school: expanding my background in math and STEM. Now that I'm back in the US, I'm following that clue out of the labyrinth of temp positions and data entry to a job where I can satisfy my deeply-held need to think and learn while also contributing something valuable to the company I work at.</p>
    </body>
</html>