<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Counter</title>
</head>
<body>
    <h1>Number of Sessions</h1>
    <p>{{ session["sessions"] }}</p>
    <form action="/" method="POST"><button name="submit" value="+2">+2</button></form>
    <form action="/" method="POST"><button name="submit" value="reset">Reset</button></form>
</body>
</html>