body {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

#result {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

h1 {
    color: white;
    position: relative;
    top: 40%;
}

.incorrect {
    background-color: red
}

.correct {
    background-color: green
}

#restart {
    position: relative;
    top: 60%;
}