<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Info</h1>
        <table>
            <tr>
                <td>Name:</td>
                <td>{{form["name"]}}</td>
            </tr>
            <tr>
                <td>Dojo Location:</td>
                <td>{{form["location"]}}</td>
            </tr>
            <tr>
                <td>Favorite Language:</td>
                <td>{{form["language"]}}</td>
            </tr>
            <tr>
                <td>Comment:</td>
                <td>{{form["comment"]}}</td>
            </tr>
        </table>
        <a href="/">Back to Form</a>
</body>
</html>